<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.todospring.mapper.TodoMapper">

<!--    <select id="selectAll" resultType="com.todo.todospring.domain.TodoDTO">-->
<!--        -->
<!--    </select>-->

    <insert id="insertToDo" parameterType="com.todo.todospring.domain.TodoDTO">

        insert into tbl_todo (todo, dueDate) values (#{todo}, #{dueDate})

    </insert>

    <update id="updateTodo" parameterType="com.todo.todospring.domain.TodoDTO">

        update tbl_todo set todo=?, dueDate=#{dueDate}, finished=#{finished} where tno=#{tno}

    </update>




</mapper>