<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.app.mapper.DeptMapper">

    <select id="selectAll" resultType="com.first.app.domain.DeptDTO">
        select * from dept
    </select>

    <!--<select id="selectByOption" parameterType="com.app.manager.domain.DeptSearchOption"
    resultType="com.app.manager.domain.DeptDTO">

        select * from dept

        <where>
            <if test="searchType != null and keyword != null">
                <if test="searchType == 'dname'">
&lt;!&ndash;                    dname like concat('%', #{keyword}, '%')&ndash;&gt;
                    <include refid="searchDname"/>
                </if>
                <if test="searchType == 'loc'">
                    <include refid="searchLoc"/>
&lt;!&ndash;                    loc like concat('%', #{keyword}, '%')&ndash;&gt;
                </if>
            </if>
        </where>

    </select>-->

    <sql id="searchDname">
        dname like concat('%', #{keyword}, '%')
    </sql>

    <sql id="searchLoc">
        loc like concat('%', #{keyword}, '%')
    </sql>

    <select id="selectByDeptnos"
            parameterType="list"
            resultType="com.first.app.domain.DeptDTO">

        select *
        from dept

        <where>
            <if test="list != null and list.size != 0">
                deptno IN
                <foreach collection="list"
                         item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>

    </select>

    <select id="selectByDeptno" resultType="com.first.app.domain.DeptDTO">
        select * from dept where deptno=#{deptno}
    </select>

    <insert id="insertDept" parameterType="com.first.app.domain.DeptDTO">
        insert into dept values (#{deptno}, #{dname}, #{loc})
    </insert>

    <update id="updateDept" parameterType="com.first.app.domain.DeptDTO">
        update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
    </update>

    <delete id="deleteByDeptno">
        delete from dept where deptno=#{deptno}
    </delete>


</mapper>

